.menu{
    font-size: 16px;
    font-weight: 400;
    color: #626262!important;
    text-transform: uppercase;
    padding-left: 45px!important;
}
.img img{
    width: 100%;
}
.navbar-light .navbar-nav .nav-link {
    padding-right: 0px;
}
.navbar {
    padding: 30px 0px;
}
.photodiary{
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 80px;
}
.text{
    margin-top: 30px;
}
.text h6{
    text-transform: uppercase;
    color: lightgray;
    font-family: "Ubuntu Light",sans-serif;
}
.text h3{
    font-family: "Playfair Display",sans-serif;
    margin-top: 26px;
    margin-bottom: 36px;
    font-weight: lighter;
}
.text p{
    font-family: "Playfair Display",sans-serif;
    margin-bottom: 40px;
}
.gallery h6{
    color: rgb(39, 39, 39)!important;
}
.items img{
    width: 100%;
}
.item{
    padding-bottom: 50px;
}
.newsletter{
    background-color: lightgray;
    margin-bottom: 90px;
}
.news{
    padding-top: 80px;
    padding-bottom: 80px;
}
.col-6{
    text-align: center;
}
.col-6 h3{
    font-family: "Playfair Display",sans-serif;
    margin-bottom: 60px;
    font-size: 30px;
    padding-top: 30px;
}
.col-6 img{
    float: right;
}
.col-6 input{
    width: 100%;
    font-size: 20px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}
.navbar-light .navbar-nav .nav-link {
    font-family: "PlayFair Display";
    font-size: 24px;
    color: black;
    padding-right: 20px;
}
.col-3 button{
    padding: 25px 30px;
    font-size: 18px;
    margin-bottom: 70px;
}
.right{
    float: right;
}
footer{
    background-color: lightgray;
}